body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
section{
    display: flex;
}
aside{
    width: 20vw;
    height: 85vh;
    background-color: rgb(118, 118, 231);
    text-align: left;
    font-size: 3vh;

    /* border: 1px solid; */
}
#aside-img{
    height: 15vh;
    width: 15vw;
    margin: 2.5vw;
    box-shadow: 1vh 1vw  #888888;
}

ul{
    list-style-type: none;
    padding: 0;
    padding-bottom: 2vh;
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.157);
    margin: 0;
}
li{
    margin-left: 4vw;
    margin-top: .5vh;
    color: white;
    /* padding-left: 0em;  */
    /* text-indent: -6vw; */
}
#button-nav{
    display: flex;
    color: White;
    text-align: center;
    flex-direction:column;
    margin: 4vh;
    margin-top: 2vh;

}

button{
    font-size: 2vh;
    height: 5vh;
    width: 15vw;
    margin: .1vh;
}

    /* main body */

#right-main{
    /* background-color: burlywood; */
    width: 80vw;
    /* border: 1px solid; */
}
header{
    background-color: rgba(128, 128, 128, 0.123);
    width: 68vw;
    height: 7vh;
    margin: 3vh 4vw 5vh 4vw;
    border-radius: 1vh;
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
    padding: 2vh 2vw 1vh 2vh;
    text-align: center;
}

#mainp{
    margin: 3vw;
    margin-bottom: 1.5vh;
}
#img1{
    width: 20vw;
    height: 20vh;
    margin-left: 4vw;
    border-radius: 1vh;
}

#maindiv2{
    display: flex;
    padding: 2vw;
    margin: 0;
}
tr td{
    border-bottom: 1px solid black;
    /* margin: 10vw; */
}



    /* Footer */
footer{
    height: 15vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(80, 85, 71);
    font-size: 2.5vh;
    color: white;
}
#footer-div{
    padding-top: 3vh;
    text-align: center;
}
a{
    margin-left: 2vw;
}